.header_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 46px;
  .header_container {
    font-size: 22px;
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    .header_left {
      display: flex;
      gap: 66px;
      .logo {
        font-weight: bold;
        font-family: GilroyBold;
      }
    }
    .header_right {
      display: flex;
      gap: 18px;
      align-items: center;
      .email_container {
        border-radius: 24px;
        display: flex;
        gap: 12px;
        font-size: 22px;
        font-family: GilroyBold;
        justify-content: center;
        align-items: center;
        text-transform: lowercase;
        font-weight: bold;
        display: flex;
        background: white;
        padding: 12px 14px 12px 14px;
      }
    }
  }
}
