.page_wrapper {
  display: flex;
  justify-content: center;
  .page_container {
    max-width: 1300px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    .position_container {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 22px;
      .position {
        font-family: GilroyExtraBold;
        text-align: center;
        font-size: 166px;
        line-height: 0.8;
      }
      .experience_container {
        font-family: GroteskMedium;
        display: flex;
        justify-content: space-between;
        padding: 0px 200px;
        font-size: 20px;
        align-items: center;
      }
    }
    .image_container {
      align-self: center;
      margin-top: 100px;
    }
    .self_container {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      gap: 130px;
      font-family: GroteskMedium;
      font-size: 66px;
      text-align: center;
      letter-spacing: -40;
      line-height: 0.8;
      .first {
        color: #888888;
      }
    }
    .records_wrapper {
      display: flex;
      flex-direction: column;
      gap: 120px;
      margin-top: 200px;
      margin-bottom: 120px;
      .header_container {
        p {
          line-height: 0.8;
          text-transform: uppercase;
          font-family: GilroyExtraBold;
          font-size: 166px;
          text-align: left;
          letter-spacing: -6px;
        }
      }
      .records_container {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: 70px;
        .record_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 36px;
          border-bottom: 1px solid #888888;
          gap: 24px;
          .left {
            max-width: 559px;
            display: flex;
            gap: 24px;
            flex-direction: column;
            .company_name {
              font-size: 64px;
              font-family: GroteskBold;
            }
            .position {
              font-size: 22px;
              font-family: GroteskMedium;
              text-transform: uppercase;
            }
            .description {
              font-family: GroteskMedium;
              color: #888888;
              font-size: 22px;
            }
          }
          .right {
            font-family: GroteskMedium;
            font-size: 22px;
          }
        }
      }
    }
    .selected_works_wrapper {
      display: flex;
      flex-direction: column;
      gap: 140px;
      .header_container {
        p {
          align-self: flex-start;
          line-height: 0.8;
          text-transform: uppercase;
          font-family: GilroyExtraBold;
          font-size: 166px;
          text-align: left;
          letter-spacing: -6px;
        }
      }
      .selected_works_container {
        display: flex;
        flex-direction: column;
        gap: 80px;

        .selected_work_container {
          display: flex;

          gap: 100px;

          align-items: center;
          .work_image_container {
            width: 270px;
            height: 200px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .details_wrapper {
            display: flex;
            flex-direction: row;
            padding-bottom: 32px;
            border-bottom: 1px solid #888888;
            .details_container {
              display: flex;
              flex-direction: column;

              margin-left: 120px;
              margin-right: 260px;
              .name {
                font-family: GroteskSemiBold;
                font-size: 60px;
              }
              .sub_heading {
                font-family: GroteskMedium;
                font-size: 22px;
              }
              .description {
                font-family: GroteskMedium;
                font-size: 22px;
                color: #888888;
              }
            }
            .view_button {
              font-family: GroteskMedium;
              height: 46px;
              width: 98px;
              background: white;
              border-radius: 23px;
              color: #888888;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .page_wrapper {
    display: flex;
    justify-content: center;
    max-width: 1350px;
    .page_container {
      padding: 0 20px;
      width: 100%;
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      .position_container {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 22px;
        .position {
          font-family: GilroyExtraBold;
          text-align: center;
          font-size: 166px;
          line-height: 0.8;
        }
        .experience_container {
          font-family: GroteskMedium;
          display: flex;
          justify-content: space-between;
          padding: 0px 200px;
          font-size: 20px;
          align-items: center;
        }
      }
      .image_container {
        align-self: center;
        margin-top: 100px;
      }
      .self_container {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 130px;
        font-family: GroteskMedium;
        font-size: 52px;
        text-align: center;
        letter-spacing: -40;
        line-height: 0.8;
        .first {
          color: #888888;
        }
      }
      .records_wrapper {
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin-top: 160px;
        margin-bottom: 80px;
        .header_container {
          display: flex;
          align-self: flex-start;
          flex-direction: column;
          p {
            line-height: 0.8;
            text-transform: uppercase;
            font-family: GilroyExtraBold;
            font-size: 100px;
            // text-align: left;
            letter-spacing: -6px;
          }
        }
        .records_container {
          display: flex;
          flex-direction: column;
          gap: 70px;
          width: 100%;
          .record_container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 36px;
            border-bottom: 1px solid #888888;

            .left {
              display: flex;
              gap: 24px;
              flex-direction: column;
              .company_name {
                font-size: 64px;
                font-family: GroteskBold;
              }
              .position {
                font-size: 22px;
                font-family: GroteskMedium;
                text-transform: uppercase;
              }
              .description {
                font-family: GroteskMedium;
                color: #888888;
                font-size: 22px;
              }
            }
            .right {
              font-family: GroteskMedium;
              font-size: 22px;
            }
          }
        }
      }
      .selected_works_wrapper {
        display: flex;
        flex-direction: column;
        gap: 140px;
        width: 100%;
        margin-bottom: 120px;
        .header_container {
          p {
            align-self: flex-start;

            text-transform: uppercase;
            font-family: GilroyExtraBold;
            font-size: 100px;
            text-align: left;
            letter-spacing: -6px;
          }
        }
        .selected_works_container {
          display: flex;
          flex-direction: column;
          gap: 80px;
          width: 100%;
          .selected_work_container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .work_image_container {
              width: 270px;
              height: 200px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .details_wrapper {
              display: flex;
              flex-direction: row;
              padding-bottom: 32px;
              border-bottom: 1px solid #888888;
              .details_container {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                text-align: left;
                flex: 1;
                .name {
                  font-family: GroteskSemiBold;
                  font-size: 60px;
                  line-height: 1;
                }
                .sub_heading {
                  font-family: GroteskMedium;
                  font-size: 22px;
                }
                .description {
                  font-family: GroteskMedium;
                  font-size: 22px;
                  color: #888888;
                }
              }
              .view_button {
                font-family: GroteskMedium;
                height: 46px;
                width: 98px;
                background: white;
                border-radius: 23px;
                color: #888888;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .page_wrapper {
    display: flex;
    justify-content: center;
    max-width: 850px;
    .page_container {
      padding: 0 20px;
      width: 100%;
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      .position_container {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 22px;
        .position {
          font-family: GilroyExtraBold;
          text-align: center;
          font-size: 120px;
          line-height: 0.8;
        }
        .experience_container {
          font-family: GroteskMedium;
          display: flex;
          justify-content: space-between;
          padding: 0px 100px;
          font-size: 20px;
          align-items: center;
        }
      }
      .image_container {
        align-self: center;
        margin-top: 100px;
      }
      .self_container {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 130px;
        font-family: GroteskMedium;
        font-size: 52px;
        text-align: center;
        letter-spacing: -40;
        line-height: 0.8;
        .first {
          color: #888888;
        }
      }
      .records_wrapper {
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin-top: 160px;
        margin-bottom: 80px;
        .header_container {
          display: flex;
          align-self: flex-start;
          flex-direction: column;
          p {
            line-height: 0.8;
            text-transform: uppercase;
            font-family: GilroyExtraBold;
            font-size: 100px;
            letter-spacing: -6px;
          }
        }
        .records_container {
          display: flex;
          flex-direction: column;
          gap: 70px;
          width: 100%;
          .record_container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 36px;
            border-bottom: 1px solid #888888;

            .left {
              display: flex;
              gap: 12px;
              flex-direction: column;
              .company_name {
                font-size: 64px;
                font-family: GroteskBold;
              }
              .position {
                font-size: 22px;
                font-family: GroteskMedium;
                text-transform: uppercase;
              }
              .description {
                font-family: GroteskMedium;
                color: #888888;
                font-size: 22px;
              }
            }
            .right {
              font-family: GroteskMedium;
              font-size: 16px;
            }
          }
        }
      }
      .selected_works_wrapper {
        display: flex;
        flex-direction: column;
        gap: 140px;
        .header_container {
          p {
            align-self: flex-start;
            line-height: 0.8;
            text-transform: uppercase;
            font-family: GilroyExtraBold;
            font-size: 100px;
            text-align: left;
            letter-spacing: -6px;
          }
        }
        .selected_works_container {
          display: flex;
          flex-direction: column;
          gap: 80px;
          width: 100%;

          .selected_work_container {
            width: 100%;
            display: flex;

            flex-direction: column;
            align-items: center;
            text-align: center;
            .work_image_container {
              width: 280px;
              height: 210px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .details_wrapper {
              display: flex;
              flex-direction: row;
              padding-bottom: 32px;
              border-bottom: 1px solid #888888;
              .details_container {
                display: flex;
                flex-direction: column;
                flex: 1;
                .name {
                  font-family: GroteskSemiBold;
                  font-size: 52px;
                }
                .sub_heading {
                  font-family: GroteskMedium;
                  font-size: 20px;
                }
                .description {
                  font-family: GroteskMedium;
                  font-size: 18px;
                  color: #888888;
                }
              }
              .view_button {
                font-family: GroteskMedium;
                height: 46px;
                width: 98px;
                background: white;
                border-radius: 23px;
                color: #888888;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .page_wrapper {
    display: flex;
    justify-content: center;
    max-width: 850px;
    .page_container {
      padding: 0 20px;
      width: 100%;
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      .position_container {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 22px;
        .position {
          font-family: GilroyExtraBold;
          text-align: center;
          font-size: 70px;
          line-height: 0.8;
        }
        .experience_container {
          font-family: GroteskMedium;
          display: flex;
          justify-content: space-between;
          padding: 0px 20px;
          font-size: 10px;
          align-items: center;
        }
      }
      .image_container {
        align-self: center;
        margin-top: 100px;
      }
      .self_container {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 130px;
        font-family: GroteskMedium;
        font-size: 32px;
        text-align: center;
        letter-spacing: -40;
        line-height: 0.8;
        .first {
          color: #888888;
        }
      }
      .records_wrapper {
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin-top: 160px;
        margin-bottom: 80px;
        .header_container {
          display: flex;
          align-self: flex-start;
          flex-direction: column;
          p {
            line-height: 0.8;
            text-transform: uppercase;
            font-family: GilroyExtraBold;
            font-size: 52px;
            letter-spacing: -2px;
          }
        }
        .records_container {
          display: flex;
          flex-direction: column;
          gap: 70px;
          width: 100%;
          .record_container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 36px;
            border-bottom: 1px solid #888888;

            .left {
              display: flex;
              gap: 8px;
              flex-direction: column;
              .company_name {
                font-size: 48px;
                font-family: GroteskBold;
              }
              .position {
                font-size: 20px;
                font-family: GroteskMedium;
                text-transform: uppercase;
              }
              .description {
                font-family: GroteskMedium;
                color: #888888;
                font-size: 20px;
              }
            }
            .right {
              font-family: GroteskMedium;
              font-size: 16px;
            }
          }
        }
      }
      .selected_works_wrapper {
        display: flex;
        flex-direction: column;
        gap: 140px;
        .header_container {
          p {
            align-self: flex-start;
            line-height: 0.8;
            text-transform: uppercase;
            font-family: GilroyExtraBold;
            font-size: 60px;
            text-align: left;
            letter-spacing: -2px;
          }
        }
        .selected_works_container {
          display: flex;
          flex-direction: column;
          gap: 60px;
          width: 100%;

          .selected_work_container {
            width: 100%;
            display: flex;
            gap: 24px;
            flex-direction: column;
            .work_image_container {
              width: 200px;
              height: 150px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .details_wrapper {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-bottom: 32px;
              text-align: center;
              border-bottom: 1px solid #888888;
              .details_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: 0 auto;
                .name {
                  font-family: GroteskSemiBold;
                  font-size: 52px;
                }
                .sub_heading {
                  font-family: GroteskMedium;
                  font-size: 20px;
                }
                .description {
                  font-family: GroteskMedium;
                  font-size: 18px;
                  color: #888888;
                }
              }
              .view_button {
                font-family: GroteskMedium;
                height: 46px;
                width: 98px;
                background: white;
                border-radius: 23px;
                color: #888888;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}
